{# defination #}
{% macro speaker_list_item(speaker) %}
  <div class="list-group-item speaker-item">
    <div class="row-picture">
      <img class="circle" src="{{ speaker.avatar }}" alt="icon">
    </div>
    <div class="row-content">
      <h4 class="list-group-item-heading">{{ speaker.name }}
        <small> - {{ speaker.city }} </small>
      </h4>
      <p class="list-group-item-text">{{ speaker.intro }}</p>
    </div>
  </div>
  <div class="list-group-separator"></div>
{% endmacro %}
{# presentaion #}
{% if speakers %}
  <div class="well" id="speakers">
    <h2 class="text-center">{{ message.speaker }}</h2>
    <div class="container">
      {% for col in speakers | slice(3) %}
        <div class="col-lg-4 list-group">
          {% for speaker in col %}
            {{ speaker_list_item(speaker) }}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}